@media screen and ( min-width: 1440px )
  .container
    width: 90%
    max-width: 1274px
  .contacts
    &__phone
      margin-left: 1rem
      margin-right: 3rem
    &__button
      margin-right: 1.35rem
@media screen and ( max-width: 1240px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .contacts
    &__phone
      margin-left: 0
      margin-right: 2rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.917rem
  .card
    &__text
      margin-left: 0
@media screen and ( max-width: 570px )
  .container
    width: 90%
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title 
    max-width: 23rem
    font-size: 1.9rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 100%
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
      margin-bottom: 2.8rem
    &__button
      display: block
      width: 100%
      min-width: 22.5rem
      max-width: 28.5rem
      margin-bottom: 2.2rem
      font-size: 1.1rem
  .button
    &--outline
      padding: 17px 42px
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none
  