@media screen and ( min-width: 1440px )
  // .container
  //   width: 90%
  //   max-width: 1274px
  // .contacts
  //   &__phone
  //     margin-left: 2.2rem
      // margin-right: 3rem
    // &__button
    //   margin-right: 1.35rem
@media screen and ( max-width: 1270px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .contacts
    &__phone
      margin-left: 0
      margin-right: 2rem
  .swiper
    &-slide
      &__heading
        font-size: 1rem
      &__text
        margin-bottom: 1.8rem
        &:last-of-type
          margin-bottom: 6rem
@media screen and ( max-width: 992px )
  html
    font-size: 11px
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .projects
    &__text
      max-width: 24.18rem
      margin-bottom: 1.8rem
      margin-right: 0.5rem
  .swiper
    &-slide
      &__text
        margin-bottom: 1.2rem
        &:last-of-type
          margin-bottom: 3rem
  .card
    &__title
      max-width: 14.55rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .col
    &-40
      width: 100%
      max-width: 35rem
      &--left
        padding: 0
    &-60
      width: 100%
      margin-top: 2.7rem
      max-width: 35rem
      &--top
        padding: 0
  .swiper
    &-slide
      &-img
        img
      &--right
        padding: 0
        justify-content: center
      &__text
        flex-basis: 47%
        width: 50%
        margin-bottom: 2.2rem
        &:last-of-type
          margin-bottom: 4.65rem
      &__heading
        font-size: 1.166rem
        line-height: 1.583rem
        margin-bottom: 0.916rem
      &__value
        font-size: 1.166rem
        line-height: 1.583rem
  .section
    &-title
      &__heading
        text-align: center
      &__text
        text-align: center
      &__word
        &::after
          display: none
  .projects
    &__title
      font-size: 1.833rem
      line-height: 2.5rem
      letter-spacing: -0.07em
      margin-bottom: 2rem
      text-align: left
    &__text
      font-size: 1.166rem
      line-height: 1.917rem
      margin-bottom: 2rem
      max-width: 35rem
      text-align: left
  .control
    &__form
      max-width: 44.55rem
      flex-direction: column
    &__label
      font-size: 1.25rem
      line-height: 1.666rem
      margin-bottom: 0
    &__input
      font-size: 1.5rem
      line-height: 1.9rem
    &__input-group
      &:first-of-type
        margin-bottom: 5rem
    &__policy
      margin-top: 0.8rem
      margin-bottom: 5rem
      &-label
        justify-content: flex-start
        font-size: 1.333rem
        line-height: 1.833rem
    &__button
      order: 5
      font-size: 1.25rem
      line-height: 2.166rem
      padding: 1.12rem 4.25rem
  .video
    &__play
      margin: auto
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background: $lightDark
    &__heading
      color: $light
    &__text
      color: $light
      max-width: 300px
      font-size: 1.25rem
      line-height: 135.84%
    &__card
      margin-bottom: 5rem
  .button
    &-up
      display: none
      &::after
        display: none
@media screen and ( max-width: 570px )
  html
    font-size: 12px
  .container
    width: 90.5%
  .section
    padding: 25px 0
  .col
    &-40
      max-width: 28.3rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title 
    max-width: 23rem
    font-size: 1.9rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 100%
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
      margin-bottom: 2.8rem
    &__button
      display: block
      width: 100%
      min-width: 22.5rem
      max-width: 28.5rem
      margin-bottom: 2.2rem
      font-size: 1.1rem
  .button
    &--outline
      padding: 17px 42px
  .section
    &-title
      &__heading
        font-size: 1.85rem
      &__image
        margin-bottom: 3.2rem
  .swiper
    &-slide
      &-img
        display: none
        &-mobile
          display: flex
  .projects
    background-color: $lightDark
    padding-bottom: 25px
    &__title
      margin-bottom: 1.9rem
    &__text
      margin-bottom: 2.9rem
      max-width: 25.3rem
  .card
    &__text
      max-width: 22.4rem
      margin-top: -11.8rem
      padding: 1.79rem 2.4rem 1.79rem 2.4rem
    &__title
      font-size: 1.26rem
    &__item
      line-height: 1.9rem
    &__list
      margin-bottom: 1.55rem
    &__pricetag
      padding: 1rem 2.4rem
      &--size-lg
        padding: 1rem 3.8rem
  .control
    background: linear-gradient(to bottom, $lightDark 94.2%, $light 5.8%)
    &__section-title
      margin-top: 0
      padding-left: 0
    &__image
      margin-top: 1.45rem
    &__video
      min-height: 17.25rem
      max-width: 28.333rem
      margin-bottom: 2.45rem
    &__text
      max-width: 28.333rem
      font-size: 1.166rem
      line-height: 2rem
      color: $light
      margin-bottom: 2.35rem
      &::before
        margin-bottom: 1.2rem
    &__form
      max-width: 28.333rem
      flex-direction: column
    &__label
      font-size: 1.25rem
      line-height: 1.666rem
      color: rgba($light, 0.5)
      margin-bottom: 0
    &__input
      font-size: 1.5rem
      line-height: 1.9rem
      color: $light
      &::placeholder
        color: $light
    &__input-group
      &:first-of-type
        margin-bottom: 5rem
    &__policy
      margin-top: 0.8rem
      margin-bottom: 5rem
      &-label
        justify-content: flex-start
        font-size: 1.333rem
        line-height: 1.833rem
        color: $light
    &__button
      order: 5
      font-size: 1.25rem
      line-height: 2.166rem
      padding: 1.12rem 4.25rem
  .video
    &__play
      width: 63px
      height: 63px
      margin-top: 6.3rem
  .types
    &__card
      margin-bottom: 6.5rem
  .design
    &__image
      margin-bottom: 0.3rem
    &__card
      margin-bottom: 6.8rem
    &__text
      margin-bottom: 3.1rem
    &-card
      &__text
        padding: 1.75rem 2.4rem
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none
  