*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading
      font-size: 1.429rem
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__text
      display: inline-block
      max-width: 53.571rem
      margin: 1.3rem 0 3.22rem 0
      text-align: center
      font-family: 'Futura Book', sans-serif
      font-size: 1.429rem
      line-height: 1.929rem
      text-transform: none
