.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.071rem
    margin: auto
    padding: 2.5rem
    padding-top: 1.1rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 1.429rem
    font-weight: normal
    text-align: center
    margin-bottom: 3.214rem
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    margin-top: -0.2rem
    &-group
      position: relative
      display: flex
      flex-direction: column
      flex-basis: 44.2%
      margin-bottom: 3.1rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 1.9rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
    // font-size: 1.142rem
  &__button
    margin: auto
    padding: 1.23rem 4.25rem
    font-size: 1.071rem
  &__menu
    background-color: $dark
    padding: 4.286rem 0